body{
    position: relative;
        background-image: url("/background\ header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

head{
    background-image: url("/Ellipse.png");
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.h2{
    font-family: 'Rubik Pixels', cursive;
}

.rickText{
    width: 500px;
}

.rotative{
    animation: rotation 10s linear infinite;
}

.imgContainer{
    margin-left: 5px;
    margin-right: 5px;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

