body{
    position: relative;
        background-image: url("/public/images/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

head{
    background-image: url("/Ellipse.png");
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.h2{
    font-family: 'Rubik Pixels', cursive;
}

.rickText{
    width: 500px;
    z-index: 10;
    justify-content: center;
}

.rotative{
    animation: rotation 10s linear infinite;
}

.imgContainer{
    width: 13rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

